
@font-face {
    font-family: "VCROSDMONO";
    src: url(fonts/VCR_OSD_MONO.ttf);
}

body{background-color: #2c2c2c;}
         
         
.lutasticlogo {
   width: 300px;
   height: auto
}

.lutasticlogobtn {
   background-color: transparent;
   cursor:pointer;
   border: none;
}


.questionmarks {
   text-align: center;
   color: #ffffff;
   font-size: 75px;
   text-shadow: 2px 2px 0px #080808;
   font-family: VCROSDMONO;
   animation: wavy-text 2000ms ease-in-out infinite;
}
.headertextframe {
   text-align: center;
   color: #ffffff;
   font-size: 70px;
   text-shadow: 2px 2px 0px #080808;
   font-family: VCROSDMONO;
}

.yesitsme {
   font-family: VCROSDMONO;
   font-size: 30px;
   text-align: center;
   color: #ffffff;
   margin-top: 80px;
}
.gitbutton {
    width: 60px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 25px;
}
.robloxbutton {
    width: 60px;
    height: auto;
    position: absolute;
    top: 5px;
    right: 100px;
}

@keyframes wavy-text {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}