
@font-face {
    font-family: "VCROSDMONO";
    src: url(../fonts/VCR_OSD_MONO.ttf);
}

body{
    scroll-behavior: smooth;
    background-image: url(../images/background.png);
    background-repeat: repeat;
    background-size: 70px;
}
         
         
.lutasticlogo {
   width: 300px;
   height: auto
}


.questionmarks {
   text-align: center;
   color: #ffffff;
   font-size: 75px;
   text-shadow: 2px 2px 0px #080808;
   font-family: VCROSDMONO;
   animation: wavy-text 5000ms ease-in-out infinite;
}

.group_container {
    display: inline-block;

}

.group_icon {
    max-width: 256 ;
    max-height: 256 ;
    border-radius: 10px;
    border-color: #202020;
    border-style: solid;
    animation: back-to-black 100ms ease-out;
    animation-fill-mode: forwards;
}

.group_icon_noway {
    max-width: 256 ;
    max-height: 256 ;
    border-radius: 10px;
    border-color: #000000;
    border-style: solid;
    cursor:not-allowed;
    opacity: 0.5;
}

.group_icon:hover {
    animation: white-border 100ms ease-out;
    animation-fill-mode: forwards;
}

@keyframes white-border {
    0% {
        border-color: #202020;
    }
    100% {
        border-color: #ffffff;
    }
}

@keyframes back-to-black {
    0% {
        border-color: #ffffff;
    }
    100% {
        border-color: #202020;
    }
}

@keyframes wavy-text {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-10px);
    }
    100% {
        transform: translateY(0px);
    }
}